<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luff.tp.mapper.ReplyMapper">
    <select id="selectById" parameterType="java.lang.Integer" resultType="Reply">
        select * from `reply` where `id` = #{id};
    </select>
    <select id="selectByComment" parameterType="java.lang.Integer" resultType="Reply">
        select * from `reply` where `comment_id` = #{commentId};
    </select>
    <insert id="insert" parameterType="Reply">
        insert into `reply` values (NULL, #{userId}, #{commentId}, #{date}, #{content});
    </insert>
</mapper>